MYSQL_DATABASE=rehab_db
MYSQL_USER=rehab_user
MYSQL_PASSWORD=rehab_password
MYSQL_ROOT_PASSWORD=root_password
MYSQL_HOST=db
MYSQL_PORT=3306

DJANGO_SECRET_KEY=rehabweb-local-secret
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend
CSRF_TRUSTED_ORIGINS=http://localhost:4200,http://127.0.0.1:4200,http://localhost:4201,http://127.0.0.1:4201
