**/node_modules/
**/.angular/
**/dist/
**/tmp/
**/out-tsc/
**/coverage/
**/.certs/
**/.venv/
**/env/
**/venv/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/*.egg-info/
**/media/

.env
*.log
.DS_Store
Thumbs.db
.git-backup-*
